body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/*HEADER */

header{
    background-color:#C0C0C0;
    width: 100%;
}

/*NAVBAR*/

#navbar ul{
    list-style: none;
}

#navbar a{
    text-decoration: none;
    color: dimgrey;
}

#navbar li{
    display: inline;
    padding: 5px;
}

/*SEARCH*/

#search{
    background-color: #C0C0C0;
}

#search img{
    width: 30%;
    margin: 0;
}

#searchbox{
    width: 50%;
    height: 40px;
}

#search button {
    height: 47px;
}

/*INFORMATION*/
#information{
    background: #46F246;
    color: #FFFFFF;
}

/*ADS*/
#ads{
    background: #F9A053;
    color: #FFFFFF;
}
/*GLOBAL*/

.container img{
    width: 75%;
    padding: 50px;
}

.container{
    line-height: 25px;
}

 .button{
    width: 60%;
    height: 40px;
    background-color: mediumblue;
    color: #ffff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}